<div class="w-[450px] p-10">
  <div class="flex flex-col space-y-1.5 text-center sm:text-left">
    <h2 class="text-xl font-semibold leading-none">Cadastrar Aluno</h2>
    <h3 class="text-muted-foreground text-sm">Insira os dados do aluno</h3>
  </div>
  <div mat-dialog-content class="px-0">
    <form class="flex flex-col gap-4 py-3 text-center sm:text-left">
      <input
        class="border-input file:text-foreground placeholder:text-muted-foreground focus-visible:ring-ring flex h-9 w-full rounded-md border bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
        matInput
        placeholder="Nome"
      />
      <input
        class="border-input file:text-foreground placeholder:text-muted-foreground focus-visible:ring-ring flex h-9 w-full rounded-md border bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
        matInput
        placeholder="Email"
      />
      <input
        class="border-input file:text-foreground placeholder:text-muted-foreground focus-visible:ring-ring flex h-9 w-full rounded-md border bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
        matInput
        placeholder="Curso"
      />
    </form>
  </div>
  <div
    class="flex flex-col-reverse gap-4 sm:flex-row sm:justify-end sm:space-x-2"
    mat-dialog-actions
  >
    <button
    type="button"
    mat-button class="" (click)="cancelDialog()">Cancelar</button>
    <button
    type="button"
      mat-button
      class="rounded-md bg-green-400 px-4 py-2 text-lg text-gray-900 hover:bg-green-500"
      (click)="closeDialog()"
    >
      Salvar
    </button>
  </div>
</div>
